<ion-header>
  <ion-title>Beneficios Laborales</ion-title>
  <div class="navegación">
    <ion-button size="small" routerLink="/home">
      Home
    </ion-button>
    <ion-button size="small" routerLink="/academica">
      Academica
    </ion-button>
    <ion-button size="small" routerLink="/laboral">
      Laboral
    </ion-button>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <h1>Sectores para Trabajar</h1>
  <ion-card>
    <h2>Industria automotriz</h2>
    <p>Diseño y mejora de sistemas de control para vehículos, incluyendo navegación y transmisión.</p>
  </ion-card>
  <ion-card>
    <h2>Robótica</h2>
    <p>Desarrollo y mantenimiento de sistemas robóticos para diversas industrias.</p>
  </ion-card>
  <ion-card>
    <h2>Automatización industrial</h2>
    <p>Diseño y implementación de sistemas de automatización para mejorar la eficiencia en procesos de producción.</p>
  </ion-card>
  <ion-card>
    <h2>Biomedicina</h2>
    <p>Desarrollo y aplicación de tecnologías médicas para mejorar el diagnóstico y tratamiento de enfermedades.</p>
  </ion-card>
  <ion-card>
    <h2>Sectores agrícolas</h2>
    <p>Aplicación de tecnologías de mecatrónica en la agricultura para mejorar la productividad y eficiencia.</p>
    </ion-card>
  <h1>Posible Salario</h1>
  <p>Un ingeniero mecánico gana normalmente un salario neto mensual de entre ₡511 972 y ₡867 447 al empezar en el puesto de trabajo.</p>
</ion-content>

<ion-footer>
  <ion-title>
    © 2026 Carrera Mecatronica - Todos los derechos reservados
  </ion-title>
</ion-footer>