/* Paleta de colores */
$primary-color: #1f2937;
$secondary-color: #111828;
$accent-color: #9ca4af;
$button-color: #4c5563;
$background-color: #030616;
$text-color: white;

/* Cosos generales */
* {
    margin: 0;
    padding: 0;
    color: $text-color;
}

/* Texto */
h1 {
    font-size: 30px;
    margin: 10px;
}

p {
    font-size: 16px;
    text-align: justify;
    margin: 10px;
}

ion-button {
    --background: $button-color;
}

/* Header */
ion-header, ion-footer {
    --background: $secondary-color;
}
ion-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ion-title {
    display: flex;
    font-size: 18px;
    margin: 10px;
}
.navegación {
    display: flex;
    margin: 10px;
    gap: 10px;
}

/* Cuerpo */
ion-content {
    width: 95vw;
    padding: 15px;
    text-align: center;
    --background: $primary-color;
}

/* Footer */
ion-footer {
    text-align: center;
}