<ion-header>
  <ion-toolbar>
    <ion-title>Beneficios Laborales</ion-title>
    <div class="navegación">
      <ion-button size="small" routerLink="/helados">
        Helados
      </ion-button>
      <ion-button size="small" routerLink="/contacto">
        Contacto
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <h1>Sectores para Trabajar</h1>
  <p>
    hola
  </p>
  <h1>Posible Salario</h1>
  <p>
    hopla
  </p>
</ion-content>
 
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">
      © 2026 Carrera Mecatronica - Todos los derechos reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>