<ion-header>
  <ion-title>Información Académica</ion-title>
  <div class="navegación">
    <ion-button size="small" routerLink="/home">
      Home
    </ion-button>
    <ion-button size="small" routerLink="/academica">
      Academica
    </ion-button>
    <ion-button size="small" routerLink="/laboral">
      Laboral
    </ion-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información Académica</ion-title>
      <h1>Que abarca</h1>
      <p>La carrera de Mecatrónica combina áreas de mecánica, electrónica, informática, programación y sistemas de control para diseñar y automatizar máquinas inteligentes. Los estudiantes aprenden sobre robótica, automatización industrial, sensores, actuadores, circuitos electrónicos, programación, inteligencia artificial y manufactura avanzada. También se estudian matemáticas, física y diseño de sistemas industriales.</p>

      <h1>Demanda laboral</h1>
      <p>En Costa Rica, la carrera tiene buena demanda debido al crecimiento de industrias tecnológicas, manufactureras y de automatización. Los profesionales en mecatrónica pueden trabajar en empresas de manufactura electrónica, dispositivos médicos, automatización industrial, robótica, farmacéuticas, aeroespaciales y servicios de ingeniería. También existe demanda en mantenimiento de sistemas automatizados y programación de robots industriales.</p>

      <h1>Tiempo que dura la carrera</h1>
      <p>La duración depende de la universidad y del grado académico. En el Tecnológico de Costa Rica (TEC), la Licenciatura en Ingeniería Mecatrónica dura aproximadamente 10 semestres (5 años). En universidades privadas como U Fidélitas, el bachillerato dura 8 cuatrimestres y luego se puede continuar con la licenciatura. Algunos diplomados técnicos pueden durar entre 2 y 3 años.</p>

      <h1>Grados académicos requeridos para entrar</h1>
      <p>Para ingresar a la carrera normalmente se requiere haber terminado la educación secundaria y contar con el título de bachillerato de colegio. En universidades públicas como el TEC también se debe aprobar un examen de admisión y cumplir con la nota de corte. Algunas universidades privadas solicitan únicamente el título de secundaria y documentos básicos de matrícula.</p>

      <h1>Modalidad</h1>
      <p>La carrera se ofrece principalmente en modalidad presencial debido a la necesidad de realizar prácticas en laboratorios y talleres de robótica, electrónica y automatización. Algunas universidades incluyen componentes híbridos o virtuales en ciertos cursos teóricos, pero la mayor parte de la formación práctica es presencial.</p>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer>
  <ion-title size="small">
    © 2026 Carrera Mecatronica - Todos los derechos reservados
  </ion-title>
</ion-footer>

